---
import ThreeScene from "../components/ThreeScene.astro";
import Layout from "../components/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Demo">
  <Header />
  <main class="size-full relative">
    <ThreeScene />
    <section
      class="absolute top-0 bottom-0 left-0 size-full flex flex-col justify-center items-center text-white gap-6"
    >
      <h1 class="text-6xl font-bold text-center text-[#FFDF6B]">
        Laboratorio del futuro
      </h1>
      <p class="text-xl text-center max-w-prose">
        {"<"} Clickea con nuestra comunidad y desbloquea un mundo de posibilidades
        digitales {"/>"}
      </p>
      <button
        class="bg-[#FFDF6B] text-[#1A0B4E] font-semibold text-md px-6 py-3 rounded-full mt-4"
        >Mira nuestro portafolio</button
      >
    </section>
  </main>
</Layout>
