---
import ProjectSection from "./ProjectSection.astro";
---

<div class="bg-night py-16">
  <h2 class="text-4xl font-bold text-center font-brick text-bone mb-12">
    Lo mejor que hacemos
  </h2>
  <div class="flex flex-col gap-[5.625rem] container mx-auto px-4">
    <ProjectSection
      title="SEMANTIK"
      color="bg-strawberry"
      tags={["Edge DB", "Microservicios", "Vercel"]}
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit."
      imageSrc="/favicon.svg"
      buttonText="Ver una demo"
      testimonials={[
        {
          text: "Lo llevo utilizando más de 5 meses y creo que es una de las mejores herramientas para manejar base de datos. Siento que he aprendido un montón y me ha ayudado con el trabajo",
          author: "Daniel Tarmeño",
          role: "Practicante dev en ID",
        },
        {
          text: "No hay nada mejor que está herramienta para personas que están aprendiendo.",
          author: "Daniel Tarmeño",
          role: "Practicante dev en ID",
        },
      ]}
      stats={{
        users: 234,
        date: "Marzo 2024",
      }}
    />
    <ProjectSection
      title="ONE HUNTER THEME"
      color="bg-sky"
      tags={["Edge DB", "Microservicios", "Vercel"]}
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit."
      imageSrc="/favicon.svg"
      buttonText="Ver una demo"
      testimonials={[
        {
          text: "Lo llevo utilizando más de 5 meses y creo que es una de las mejores herramientas para manejar base de datos. Siento que he aprendido un montón y me ha ayudado con el trabajo",
          author: "Daniel Tarmeño",
          role: "Practicante dev en ID",
        },
        {
          text: "No hay nada mejor que está herramienta para personas que están aprendiendo.",
          author: "Daniel Tarmeño",
          role: "Practicante dev en ID",
        },
      ]}
      stats={{
        users: 234,
        date: "Marzo 2024",
      }}
      isReversed={true}
    />
    <ProjectSection
      title="OBSIDIAN FLASHCARDS"
      color="bg-berries"
      tags={["Edge DB", "Microservicios", "Vercel"]}
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit."
      imageSrc="/favicon.svg"
      buttonText="Ver una demo"
      testimonials={[
        {
          text: "Lo llevo utilizando más de 5 meses y creo que es una de las mejores herramientas para manejar base de datos. Siento que he aprendido un montón y me ha ayudado con el trabajo",
          author: "Daniel Tarmeño",
          role: "Practicante dev en ID",
        },
        {
          text: "No hay nada mejor que está herramienta para personas que están aprendiendo.",
          author: "Daniel Tarmeño",
          role: "Practicante dev en ID",
        },
      ]}
      stats={{
        users: 234,
        date: "Marzo 2024",
      }}
    />
  </div>
</div>
