---
import ThemeToggle from "./ThemeToggle.astro";
---

<div
  class="flex w-full items-center justify-between border-border border-t pt-2"
>
  <div class="px-[2px] text-muted-foreground/80 text-xs">
    <span class="font-light">©{new Date().getFullYear()}</span> Crafter Station
  </div>
  <div class="text-muted text-xs">
    <ThemeToggle />
  </div>
</div>
