---

---

<header
  class="absolute top-5 left-0 w-full p-4 bg-opacity-50 bg-[#1a0b4e] z-20"
>
  <nav
    class="container mx-auto flex justify-between items-center bg-[#4F4B93] p-4 rounded-full"
  >
    <div class="font-bold text-2xl">Crafter Station</div>
    <ul class="flex gap-12">
      <li>
        <a href="#" class="cursor-pointer hover:text-[#FFDF6B]">Home</a>
      </li>
      <li><a href="#" class="hover:text-[#FFDF6B]">¿Quiénes somos?</a></li>
      <li><a href="#" class="hover:text-[#FFDF6B]">Proyectos</a></li>
      <li><a href="#" class="hover:text-[#FFDF6B]">Blog</a></li>
      <li><a href="#" class="hover:text-[#FFDF6B]">Contacto</a></li>
    </ul>
    <button
      class="bg-[#C1DD34] text-[#1A0B4E] font-semibold py-3 px-6 rounded-full"
      >Tengo una idea</button
    >
  </nav>
</header>
