---
// import ThreeScene from "../components/ThreeScene.astro";
---

<!-- <ThreeScene /> -->
<section
  class="min-h-screen flex flex-col justify-center items-center text-bone gap-4 sm:gap-14 px-4 sm:px-6"
>
  <h1
    class="font-brick text-4xl sm:text-5xl lg:text-7xl font-bold text-center text-pineapple leading-relaxed"
  >
    Laboratorio del futuro
  </h1>
  <p class="text-xl sm:text-2xl text-center max-w-prose">
    {"<"} Clickea con nuestra comunidad y desbloquea un mundo de posibilidades digitales
    {"/>"}
  </p>
  <button
    class="bg-[#FFDF6B] text-grape font-semibold text-sm sm:text-md px-4 sm:px-6 py-2 sm:py-3 rounded-full mt-2 sm:mt-4"
  >
    Mira nuestro portafolio
  </button>
</section>
