<div
  class="prose dark:prose-invert max-w-none w-full text-sm text-foreground/80 font-normal text-pretty leading-loose mx-1 mb-4"
>
  <p>
    Crafter Station is a team of engineers, designers, and builders crafting
    thoughtful, practical tools for developers. Rooted in Peru, our vision
    extends far beyond borders.
  </p>
  <p>
    We focus on open-source, modern web technologies, and developer experience,
    working quietly but deliberately to make everyday workflows better, simpler,
    and more powerful.
  </p>
  <p>
    From contributing to the open-source community to developing platforms used
    by developers worldwide, we're committed to building with purpose—and
    evolving with every project we launch.
  </p>
</div>
