---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="font-space h-screen bg-grape text-bone">
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "NT Brick Sans";
    src: url("/fonts/NTBRickSans.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>

<script src="../scripts/entry.ts"></script>
