---
interface Props {
  name: string;
  linkedinUrl: string;
}

const { name, linkedinUrl } = Astro.props;
---

<a
  href={linkedinUrl}
  target="_blank"
  rel="noopener noreferrer"
  class="bg-night text-bone border border-bone px-5 py-4 rounded-full hover:bg-bone hover:text-night transition-colors duration-300"
>
  <p class="text-sm flex items-center">
    Ln/ {name}
  </p>
</a>
